body {
  background-color: black;
   background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer ";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

header {
  padding: 1rem;
  box-shadow: 2px 5px 15px 2px rgb(0 0 0/10%);
  width: calc(100%);
  top: 0;
}
.logo {
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  text-align: center;
  padding: 0;
  width: 7%;
  border-radius: 3vh;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.849);
}

main {
background: transparent;
border-radius: 10%;
padding: auto;
margin: 0;
margin-top: 0;
margin-left: 0;
}

/*-------------------------->CARDS<--------------- */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
  
}
.card-alone {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 1px 1px 1px 1px rgba(3, 3, 3, 0.849);
}

#vd{
background: #f12711;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#vs{
  background: #159957;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#vm{
  background: #1A2980;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#vt{
  background: #2C3E50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FD746C, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FD746C, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.card-alone:hover {
  color: white;
}
.icon{
  text-align: center;
}
.text{
  font-style: oblique;
  font-size: 15px;
  text-align: center;
}


/* -------------------------------------->TABLA<----------------------- */
.lista {
  margin-top: 3.5rem;
  display: grid;
  grid-gap: 2rem;
  padding: auto;
}
.case {
  background:rgba(240, 236, 236, 0.801);
  border-radius: 10px;
}
.visitantes-T{
  font-size: 30px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header-case,
.body-case {
  padding: 0.5rem;
  
}
.header-case {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.tabla {
  overflow-x: auto;
  width: 100%;
}

table {
  border-collapse: collapse;
}
thead tr {
  border-top: 1px;
  border-bottom: 1px solid #ccc;
}
thead td {
  font: weight 700;
}
td {
  padding: 0.5rem 1rem;
}

tr td:last-child {
  display: flex;
  align-items: center;
}
/* .btn {
  background-color: white;
  border-radius: 3px;
  color: grey;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
  margin-left: 5px;
} */

.btn1 {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid red;
  border-radius: 0.6em;
  color: red;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

}
  btn1:hover,
  btn1:focus {
    color: #fff;
    outline: 0;
  }

.fifth {
  border-color: purple;
  /* border: 0; */
  border-radius: 0;
  color: purple;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
}
  .fifth:after {
    content: 'Salir';
    position:absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: purple;
    z-index: -1;
    transition: width 150ms ease-in-out;
  }
  
  .fifth:hover:after {
    color: #fff;
      width: 110%;
    
  }



/* ------------------>FOOTER-------------------- */
 footer {
  color: aliceblue;
  background-color: black;
  grid-area: footer;
  text-align: center;
  list-style-type: none;
  justify-content: center;
  margin-bottom: -7rem;
}
.collaborator {
  font-family: "Jura", sans-serif;
  color: rgba(144, 144, 151, 0.753);
  text-shadow: rgb(138, 136, 136);
  text-decoration: none;
}

#social {
  margin-top: 0.5%;
}

#social a i {
  color: rgba(156, 156, 160, 0.767);
}

#social a i:hover {
  transform: scale(1.3);
  transition: transform 0.5s ease-out;
  color: #ff9204;
}
