/* Pantalla 1-Inicio */
#pantalla-1-inicio {
  background: url(https://i.pinimg.com/564x/14/3c/c4/143cc440e4b1c4cd7deff3663a8b00f9.jpg);
  width: auto;
  height: 82vh;
  margin: 0;
  padding: 0;
}
.logo {
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  width: 10%;
  border-radius: 3vh;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.849);
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: auto;
}
.boton {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.boton:hover,
boton:focus {
  color: #fff;
  outline: 0;
}
.third {
  border-color: rgb(0, 162, 255);
  color: #fff;
  box-shadow: 0 0 40px 40px rgba(225, 0, 255, 0.849) inset,
    0 0 0 0 rgb(234, 0, 255);
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 rgb(183, 0, 255) inset, 0 0 10px 4px rgb(225, 0, 255);
}

#names {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* ------------VISITORS----- */
/* Pantalla1-register */
#pantalla1-registro {
  background-color: rgb(183, 0, 255);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", "sans-serif";
}

.container {
  width: 100%;
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empresa-container {
  display: flex;
  width: 650px;
  height: auto;
  background: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.register,
.empresa {
  flex: 1;
}
.register {
  padding: 40px;
  position: relative;
}

.register h2 {
  color: #797979;
  margin-bottom: 30px;
}

.register input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 25px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid #a8a8a8;
  color: #333;
}

.register input:active,
.register input:focus {
  outline: none;
}

.register .next {
  width: auto;
  padding: 10px;
  background: #f17108;
  color: white;
  font-size: 12px;
  box-shadow: 0 0 3px 0 rbga(0, 0, 0, 0.2);
  cursor: pointer;
}

.register::after {
  content: ">";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  right: -23px;
  padding: 10px;
  text-align: center;
  font-size: 19px;
  background: #f1f1f1;
  border-radius: 50%;
  transform: translateY(-50%);
  box-shadow: -1px 1px 3px 1px rbga(0, 0, 0, 0.2);
  color: #7c7c7c;
}

.empresa {
  background-image: linear-gradient(to bottom right, #1ab6b6, #4caca6);
  padding: 40px;
}

.empresa h2 {
  color: #fff;
  margin-bottom: 45px;
}

.empresa label {
  font-weight: bold;
  font-size: 1em;
  font-family: sans-serif;
  color: #333;
}
