/* Pantalla 1-Inicio */
#pantalla-1-inicio {
  background: url(https://i.pinimg.com/564x/14/3c/c4/143cc440e4b1c4cd7deff3663a8b00f9.jpg);
  background-size: cover;
  background-attachment: fixed;
  row-gap: 10px;
  padding: 0 auto;
  width: 100%;
  height: 100vh;
}
.logo {
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  text-align: center;
  padding: 0;
  width: 10%;
  border-radius: 3vh;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.849);
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}
img {
  width: 100%;
  height: auto;
}
.boton {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-decoration: none;
}
.boton:hover,
boton:focus {
  color: #fff;
  outline: 0;
}
.third {
  border-color: rgb(0, 162, 255);
  color: #fff;
  box-shadow: 0 0 40px 40px rgba(225, 0, 255, 0.849) inset,
    0 0 0 0 rgb(234, 0, 255);
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 rgb(183, 0, 255) inset, 0 0 10px 4px rgb(225, 0, 255);
}

#names1 {
  display: flex;
  justify-content: center;
  text-align: center;
}
.espacio {
  height: 29.5vh;
}
footer {
  color: aliceblue;
  background-color: black;
  grid-area: footer;
  text-align: center;
  list-style-type: none;
  justify-content: center;
  margin-bottom: -7rem;
}
.collaborator {
  font-family: "Jura", sans-serif;
  color: rgba(144, 144, 151, 0.753);
  text-shadow: rgb(138, 136, 136);
  text-decoration: none;
}

#social {
  margin-top: 0.5%;
}

#social a i {
  color: rgba(156, 156, 160, 0.767);
}

#social a i:hover {
  transform: scale(1.3);
  transition: transform 0.5s ease-out;
  color: #ff9204;
}

@media screen and (max-width: 1024px) {
  body {
    width: 100%;
    height: 100vh;
  }
}
@media screen and (min-width: 200px) {
  body {
    width: 100%;
    height: 100vh;
  }
}

/* --------------------------------VISITORS---------------- */
/* Pantalla1-register */
html {
  background: url(https://images.pexels.com/photos/2473183/pexels-photo-2473183.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}
#pantalla1-registro {
  font-family: "roboto", "sans-serif";
  width: 100%;
  height: 100vh;
}

.container1 {
  width: 100%;
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empresa-container {
  display: flex;
  width: 650px;
  height: auto;
  background: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.register,
.empresa {
  flex: 1;
}
.register {
  padding: 40px;
  position: relative;
}

.register h2 {
  color: #797979;
  margin-bottom: 30px;
}

.register input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 25px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid #a8a8a8;
  color: #333;
}

.register input:active,
.register input:focus {
  outline: none;
}

.register::after {
  content: ">";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  right: -23px;
  padding: 10px;
  text-align: center;
  font-size: 19px;
  background: #f1f1f1;
  border-radius: 50%;
  transform: translateY(-50%);
  box-shadow: -1px 1px 3px 1px rbga(0, 0, 0, 0.2);
  color: #7c7c7c;
}

.empresa {
  background-image: linear-gradient(to bottom right, #1ab6b6, #4caca6);
  padding: 40px;
}

.empresa h2 {
  color: #fff;
  margin-bottom: 15px;
}

.empresa label {
  font-style: italic;
  font-size: 20px;
  width: auto;
  height: auto;
}
#empresas {
  margin: 1vh;
  height: 5vh;
  justify-content: left;
  display: flex;
}
.s {
  height: 1.5vh;
}
#motivo {
  margin: 0px;
  height: 3vh;
  justify-content: left;
  display: flex;
}
#cita {
  margin: 0px;
  justify-content: left;
  display: flex;
}

.empresa .next {
  width: auto;
  padding: 10px;
  background: #f17108;
  color: white;
  font-size: 12px;
  box-shadow: 0 0 3px 0 rbga(0, 0, 0, 0.2);
  cursor: pointer;
}

.empres-select {
  box-shadow: 1px 1px 1px 0px rgb(0, 0, 0);
  color: white;
  background-color: rgb(46, 197, 207);
  border-radius: 5px;
}

/*--------------------------ADMINISTRADOR------------------- */
/* Login-admin */
#pantalla1-login {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.login-box {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: 7px 7px 60px #000;
}

.login-box h1 {
  float: left;
  font-size: 40px;
  border-bottom: 6px sold #0db8de;
  margin-bottom: 50px;
  letter-spacing: 2px;
  padding: 13px 0;
}
.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #0db8de;
}
.textbox i {
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 10px;
}

#btn {
  width: 100%;
  background: none;
  border: 2px solid #0db8de;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

.video-fondo {
  margin: 0;
}
video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}
