/* Pantalla 1-Inicio */
#pantalla-1-inicio {
  background: url(https://i.pinimg.com/564x/8f/e4/ba/8fe4ba50882b42d487122ace48e2c608.jpg);
  width: auto;
  height: 82vh;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
}
#button-register {
  border-radius: 10vh;
  width: 50vh;
}
